@import "/common.css";

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    .type-selector {
        width: 100vw;
        display: grid;
        grid-template-rows: 78vh 33px 33px;

        .hero {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            grid-row: 1 / span 2; /* ustawienie pozycji w siatce CSS: zaczyna się na pierwszym wierszu i zajmuje 2 wiersze */
            grid-column: 1;
            animation: slideshow 20s infinite;
            background-image: var(--current);
        }

        .type-buttons {
            display: flex;
            justify-content: center;
            grid-row: 2 / span 2; /* ustawienie pozycji w siatce CSS: zaczyna się na drugim wierszu i zajmuje 2 wiersze */
            grid-column: 1;
            gap: 3px;

            a {
                background-color: var(--primary-green);
                height: 66px;
                width: 220px;
                color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px;
                font-family: "max-bold", sans-serif;
                text-decoration: none;


                &:first-of-type {
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                }

                &:last-of-type {
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                }
            }

        }
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        color: dimgray;
        flex-grow: 1;

        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 16px;
            .languages {
                display: flex;
                gap: 10px;

                img {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px dimgray solid;
                }

                .active {
                    color: black;
                }

                .vertical-line {
                    display: block;
                    width: 1px;
                    height: 20px;
                    background-color: dimgray;
                }
            }

            .supported-cards {

                img {
                    height: 20px;
                }
            }
        }
    }
}

/* definicja animacji kluczowej o nazwie 'slideshow' */
@keyframes slideshow {

    /* wartości początkowe i końcowe (0% i 100%) animacji ustawiają zmienną '--current' na obraz */
    0%, 100% {
        --current: url("/assets/hero/spicy-avocado.png");
    }

    25% {
        --current: url("/assets/hero/premium_shake.png");
    }

    50% {
        --current: url("/assets/hero/salad-group.png");
    }
    75% {
        --current: url("/assets/hero/burger_rywala.png");
    }
}