:root {
    --primary-green: rgb(0, 144, 54);
}

.icon {
    background-image: url("/assets/icons/ico-sheet.040408e34068.svg");
    width: 32px;
    height: 32px;
    display: block;
    background-size: 748.252px 605.728px;

    &.big {
        width: 50px;
        height: 50px;
    }

    &.bag {
        background-position-x: -2033.204px;
        background-position-y: -1534.379px;
    }

    &.cutlery {
        background-position-x: -463.204px;
        background-position-y: -320.679px;
    }

    &.start {
        background-position-x: -363.204px;
        background-position-y: -270.679px;

        &.big {
            background-position-x: -1952.204px;
            background-position-y: -1566.379px;
        }
    }
    &.scan-of-a-coupon {

        background-position-x: -317.204px;
        background-position-y: -470.679px;
    }

    &.screen {
        background-position-x: -674.204px;
        background-position-y: -144.679px;
    }

    &.cancel {
        background-position-x: -459.204px;
        background-position-y: -38.679px;
    }

    &.return-to-menu {
        background-position-x: -459.204px;
        background-position-y: -38.679px;
    }

    &.bag-basket {
        background-position-x: -35.204px;
        background-position-y: -357.679px;
    }
    &.pen {
        background-position-x: -513.204px;
        background-position-y: -37.679px;
        padding: 20px 20px 0 40px;
    }

    &.plus {
        background-position-x: -294.204px;
        background-position-y: -104.679px;
        padding: 20px 20px 0 40px;
    }

    &.delete {
        background-position-x: -532.204px;
        background-position-y: -213.679px;
    }
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "max-regular";
    src: url("/assets/font-normal.woff");
}

@font-face {
    font-family: "max-bold";
    src: url("/assets/font-bold.woff");
}

body {
    font-family: "max-regular", sans-serif;
}




