@import "/common.css";

html{
    color-scheme: light;
}
body {
    display: grid;
    grid-template: auto 1fr auto / 100vw;
    height: 100vh;
    margin: 0;

    main {
        overflow: scroll;
    }

}

.image {
    width: 100%;
    height: 28vh;
}
.categories-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin: 50px 50px 0 50px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.categories-scrollable {
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    width: 100%;
    overflow: auto;

    .start-button, img {
        width: 10vw;
        height: 10vw;
        flex-shrink: 0;
        display: grid;
        justify-content: center;
        text-decoration: none;

    }
}

.start-button {
    display: block;
    background-color: var(--beige);
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.allergy {
    font-size: 10px;
}

.icons_categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    margin: 0 50px 50px 50px;

    .frame-around-screen, .frame-around-coupon, .frame-around-close{
        padding: 10px;
        text-decoration: none;
        color: black;
    }

    .frame-around-close {
        display: grid;
        border: solid red;
        width: 109px;
        place-items: center;
        color: red;
    }

}

footer {
    display: grid;
    grid-template-columns: auto auto ;
    .left-side {
        margin: 16px 0 0 50px;
    }
    .icons_categories {
        margin: 16px 50px 0 0 ;
    }
}
